# VERCEL / NEXT.JS WEB APP ENV
# Same Telegram bot token. It is used only on server side to validate initData hash.
TELEGRAM_BOT_TOKEN=123456789:AA....

# Optional public app name shown in UI
NEXT_PUBLIC_APP_NAME=Case Web App
